

<h1 style="color:darkslateblue">MVC consumo API hospitales</h1>

<ul>
    <li>
        <a asp-controller="Hospitales" asp-action="HospitalesFront">Api Hospitales Front</a>
    </li>
    <li>
        <a asp-controller="Hospitales" asp-action="HospitalesBack">Api Hospitales Back</a>
    </li>
</ul>